<style>
    div{
        margin: 10px;
    }
    form{
        margin: auto;
        width: fit-content;
        border: 3px solid red;
        border-radius: 2px;
        padding: 10px;
    }  
    a:hover {
        color: green;
    }
    
    a {
        text-decoration: none;
        margin-left: 20px;
    } 
    
    h1 {
      color: maroon;
      margin-left: 40px;
    }
    </style>
    
    <form method="post" action="/login" >
      <div> User Id :<input placeholder="userid" name="userid"/></div>
      <div> Password :<input type="password" placeholder="password" name="password"/></div>
      <div> <input type="submit" value="login"/> <a href="/signup">click here to signup</a></div>
    <% if(error){ %>
      <h1> <%= error %> </h1>
    <% } %>
    </form>
    
    
    